<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Commendeer Results</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<div class="results">
		{{$qs := .Questions}}
		<div class="questions">
			{{range $q := $qs}}
			<div class="question">
				<h2>{{$q.Title}}</h2>
				<ul class="list-unstyled">
						{{if not $q.OptionAnswers}}
							{{range $q.TextAnswers}}
								<li>{{.}}</li>
							{{end}}
						{{else}}
							{{range $o := $q.OptionAnswers}}
								<li>{{$o.Title}} - {{$o.Values}}</li>
							{{end}}
						{{end}}
					</ul>
				</div>
			{{end}}
		</div>
	</div>
</body>
</html>